@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="jumbotron">
        <MudText Typo="Typo.h4">CG.Purple.QuickStart</MudText>
        <MudText Style=@($"color: {@DefaultTheme.Instance().Palette.GrayDefault}") Class="px-5" Typo="Typo.body1">A quick Blazor sample to demonstrate interacting with CG.Purple</MudText>
    </div>
</div>

<MudBreadcrumbs Items="_crumbs"></MudBreadcrumbs>

@if (Monitor.IsConnected)
{
    <MudExpansionPanels Class="pb-5">
        <MudExpansionPanel Text="Advanced Properties">
            <MudGrid>
                <MudItem xs="6">
                    <MudTextField Label="Key"
                                  Immediate
                                  Counter="32"
                                  Variant="Variant.Outlined"
                    @bind-Value="@_messageKey" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField Label="Provider"
                                  Immediate
                                  Counter="64"
                                  Variant="Variant.Outlined"
                    @bind-Value="@_providerType" />
                </MudItem>
                <MudItem xs="3">
                    <MudCheckBox Label="Disabled"
                                 Checked="_isDisabled"
                                 TriState />
                </MudItem>
                <MudItem xs="3">
                    <MudNumericField Label="Max Errors"
                                     Variant="Variant.Outlined"
                                     Clearable
                    @bind-Value="_maxErrors" />
                </MudItem>
                <MudItem xs="3">
                    <MudNumericField Label="Priority"
                                     Variant="Variant.Outlined"
                                     Clearable
                    @bind-Value="_priority" />
                </MudItem>
                <MudItem xs="6">
                    <MudDatePicker Label="Process After"
                                   Variant="Variant.Outlined"
                                   Clearable
                    @bind-Value="_processAfter" />
                </MudItem>
                <MudItem xs="6">
                    <MudDatePicker Label="Archive After"
                                   Variant="Variant.Outlined"
                                   Clearable
                    @bind-Value="_archiveAfter" />
                </MudItem>
            </MudGrid>
        </MudExpansionPanel>
    </MudExpansionPanels>

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-4" >
        <MudTabPanel Text="Emails" Icon="@Icons.Material.Filled.Email">
            <EditForm Model="_mailModel" OnValidSubmit="OnValidMailSubmitAsync">
                <MudGrid>
                    <MudItem xs="12"><DataAnnotationsValidator /></MudItem>
                    <MudItem xs="6">
                        <MudButton Color="Color.Secondary"
                                   Variant="Variant.Filled"
                                   FullWidth
                                   Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.AttachFile"
                                   OnClick="OnMailAttachmentsAsync">Attachments</MudButton>
                    </MudItem>
                    <MudItem xs="6">
                        <MudButton Color="Color.Secondary"
                                   Variant="Variant.Filled"
                                   FullWidth
                                   Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.PresentToAll"
                                   OnClick="OnMailPropertiesAsync">Properties</MudButton>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="From"
                                      For="@(() => _mailModel.From)"
                        @bind-Value="@_mailModel.From" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="To"
                                      For="@(() => _mailModel.To)"
                        @bind-Value="@_mailModel.To" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudExpansionPanels>
                            <MudExpansionPanel Text="CC/BCC">
                                <MudTextField Variant="Variant.Outlined"
                                              Label="CC"
                                              For="@(() => _mailModel.CC)"
                                @bind-Value="@_mailModel.CC" />
                                <MudTextField Variant="Variant.Outlined"
                                              Label="BCC"
                                              For="@(() => _mailModel.BCC)"
                                @bind-Value="@_mailModel.BCC" />
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="Subject"
                                      For="@(() => _mailModel.Subject)"
                        @bind-Value="@_mailModel.Subject" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="Body"
                                      Lines="8"
                                      For="@(() => _mailModel.Body)"
                        @bind-Value="@_mailModel.Body" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton ButtonType="ButtonType.Submit"
                                   StartIcon="@Icons.Material.Filled.Send"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   FullWidth>Send Mail</MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudTabPanel>
        <MudTabPanel Text="Texts" Icon="@Icons.Material.Filled.Message">
            <EditForm Model="_textModel" OnValidSubmit="OnValidTextSubmitAsync">
                <MudGrid>
                    <MudItem xs="12"><DataAnnotationsValidator /></MudItem>
                    <MudItem xs="6">
                        <MudButton Color="Color.Secondary"
                                   Variant="Variant.Filled"
                                   FullWidth
                                   Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.AttachFile"
                                   OnClick="OnTextAttachmentsAsync">Attachments</MudButton>
                    </MudItem>
                    <MudItem xs="6">
                        <MudButton Color="Color.Secondary"
                                   Variant="Variant.Filled"
                                   FullWidth
                                   Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.PresentToAll"
                                   OnClick="OnTextPropertiesAsync">Properties</MudButton>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="From"
                                      For="@(() => _textModel.From)"
                        @bind-Value="@_textModel.From" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="To"
                                      For="@(() => _textModel.To)"
                        @bind-Value="@_textModel.To" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Variant="Variant.Outlined"
                                      Label="Body"
                                      Lines="4"
                                      For="@(() => _textModel.Body)"
                        @bind-Value="@_textModel.Body" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton ButtonType="ButtonType.Submit"
                                   StartIcon="@Icons.Material.Filled.Send"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   FullWidth>Send Text</MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudTabPanel>
        <MudTabPanel Text="Status" Icon="@Icons.Material.Filled.Hail" BadgeColor="Color.Secondary" BadgeDot="@_hasNewStatus" OnClick="@(() => _hasNewStatus = false)">
            <MudTable Items="_status" Dense Striped>
                <ToolBarContent>
                    <MudTooltip>
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Clear" OnClick="@(() => _status.Clear())">Clear</MudButton>
                    </MudTooltip>
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel SortBy="new Func<StatusNotification, object>(x=>x.MessageKey)">Key</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<StatusNotification, object>(x=>x.Sent)">Sent</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<StatusNotification, object>(x=>x.SafeError())">Error</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Key">@context.MessageKey</MudTd>
                    <MudTd DataLabel="Sent">@context.Sent</MudTd>
                    <MudTd DataLabel="Error">@context.SafeError()</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
                <NoRecordsContent>
                    No notifications were found.
                </NoRecordsContent>
                <LoadingContent>
                    Loading notifications ...
                </LoadingContent>
            </MudTable>
        </MudTabPanel>
    </MudTabs>
}
else
{
    <MudAlert Severity="Severity.Error">Server not found.</MudAlert>
}
